fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary

# Authentication
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart

# Environment Variables
python-dotenv

# Email validation (needed for EmailStr in schemas.py)
email-validator

# ML / AI
tensorflow
numpy
opencv-python
pillow

# Data Processing
pandas
matplotlib

# API
python-multipart

# CORS
starlette

# PDF Report
reportlab

# Image Processing
scikit-image

# Utilities
requests